<div class="boat-ride">
  <div class="container">
    <section class="py-5">
      <div class="row">
        <div class="col-12 offset-sm-6 col-sm-6">
          <div class="bg-primary p-5">
            <h2>Boat rides</h2>
            <p>
              There will be two boat rides, from Vila Real to the Mansion and then from the Mansion and back again.
            </p>

            <p>
              The boat can take until 160 people,
              but we won’t take more than 140 for
              safety reasons (We actually do care about your safety).
            </p>

            <p>
              There will be music and more
              surprises during the boat ride (after all this is still an Orvalho
              event).
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="food">
  <div class="container">
    <section class="py-5">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="bg-dark p-5">
            <h3>The amazing lunch</h3>
            <p>
              It will be served around 1 pm. It will
              include 2 dishes: grilled chicken and
              grilled sardines.
            </p>

            <p>
              Now you are thinking, “Oh shit, but I
              thought it was only sandwiches?”, any problems talk to the vegans (if
              you have any allergies or special
              food needs, we don’t accommodate
              it, <a href="mailto:andre@vice.vc">so please don’t write me</a>).
            </p>

            <p>
              There will be white and red wine
              included and hopefully water.
            </p>

            <h3>Coffee & Chill</h3>
            <p>
              Ever heard of netflix and chill? This is our version, can you imagine? Naughty us.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="concert">
  <div class="container">
    <section class="py-5">
      <div class="row">
        <div class="col-12 offset-sm-6 col-sm-6">
          <div class="bg-primary p-5">
            <h2>Omar Souleyman</h2>
            <p>One of the gratest underground artist of our time will present us with his presence.</p>
            <p>You can check his work <a class="special-link" target="_blank" href="https://youtu.be/lVlgMEFu1PI">here</a>.</p>
            <p>He has a <a class="special-link" target="_blank" href=" https://youtu.be/IBHCeG1JEiA">special message</a> for all of you.</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <section class="py-5 m-md-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">
          <span class="text-primary"> The Fyre fest spin off with no tents!</span><br>
        </h2>

        <div class="mb-4">
          Welcome to <strong class="text-primary">THE party</strong>.
          The experience won’t exceed expectations because you have none,
          but you really don’t know what you getting yourself into.
          Words will be used to describe it.
          Energy will be flowing.
          WE are only bringing what’s possible! <strong class="text-primary">1 Single day.</strong>.
          A detached festival. Almost happening in a remote and private island near you.
          We will be serving sandwiches, failed artists and no music
          <span class="text-secondary">(oh it will definitely be an adventure)</span>.
          Basically all you can expect from a festival like Fyre but without the pigs
          and more important no tents <span class="text-secondary">(so you can see everything)</span>.
          Prepare your boundaries cause all of them will be pushed.
        </div>

        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/tVf8saAOd88" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <section class="py-5 m-md-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Schedule</h2>

        <div>
          10:00-11:00
          <span class="text-secondary ml-2">
            We all meet in Faro, and travel by bus to Vila Real (<a href="https://goo.gl/maps/hzEVvfj1EQy"
              target="_blank">See trip</a>)
          </span>
          <div class="row bg-dark">
            <div class="col-1 bg-primary">&nbsp;</div>
          </div>
        </div>

        <div>
          11:00-13:00
          <span class="text-secondary ml-2">
            Party boat ride!
          </span>
          <div>
            <div class="row bg-dark">
              <div class="offset-1 col-3 bg-primary">&nbsp;</div>
            </div>
          </div>
        </div>

        <div>
          13:00-16:00
          <span class="text-secondary ml-2">
            Arrival at Mansion with pool, chill, lunch and coffee.
          </span>
          <div class="row bg-dark">
            <div class="offset-4 col-3 bg-primary">&nbsp;</div>
          </div>
        </div>

        <div>
          16:00-17:30
          <span class="text-secondary ml-2">
            Surpise concert!
          </span>
          <div class="row bg-dark">
            <div class="offset-7 col-1 bg-primary">&nbsp;</div>
          </div>
        </div>

        <div>
          17:30-20:00
          <span class="text-secondary ml-2">
            Sunset boat ride!
          </span>
          <div class="row bg-dark">
            <div class="offset-8 col-3 bg-primary">&nbsp;</div>
          </div>
        </div>

        <div>
          20:00-21:00
          <span class="text-secondary ml-2">
            We travel by bus to Faro
          </span>
          <div class="row bg-dark">
            <div class="offset-11 col-1 bg-primary">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <section class="py-5 m-md-5">
    <div class="card">
      <div class="card-body text-center">
        <h2 class="card-title">Interested? Get tickets</h2>
        <p>
          For more information contact
        </p>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <a class="btn btn-primary btn-lg btn-block" href="mailto:andre@vice.vc">andre@vice.vc</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
