<header>
  <div class="container">
    <section class="d-flex justify-content-center py-5">
      <div>
        <h2>Orvalho Events presents</h2>
        <h1 class="text-primary">Fuego Fest</h1>
      </div>
    </section>
  </div>
</header>

<ul class="hmenu">
  <%= render 'devise/menu/logout' %>
</ul>

<div class="container">
  <section class="py-5 m-md-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">
          Fuego fest,<br>
          like Fire but without the tents!
        </h2>
        <div>
          Welcome to <strong class="text-primary">THE</strong> party. The actual
          experience won’t exceed
          expectations because you have
          none.
          You really don’t know what you
          getting yourself into. Words will be
          used to describe it. Energy will be
          flowing.
          WE only bringing what’s possible!
          1 Single day. A detached festival.
          Almost happening in a remote and
          private island near you.
          We will be serving sandwiches, failed
          artists and no music <span class="text-secondary">(oh it will
          definitely be an adventure)</span>.
          Basically all you can expect from a
          festival like Fyre but without the
          models, the pigs and more important
          no tents <span class="text-secondary">(so you can see everything)</span>.
          Prepare your boundaries cause all of
          them will be pushed.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 m-md-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Schedule</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div>
          <div>
            10:00-11:00
            <span class="text-secondary ml-2">
              We will live Faro on a
              bus until Vila Real(location to be
              disclosed closer to the event)
              you can see the details of the car trip
              here:
              https://goo.gl/maps/hzEVvfj1EQy
            </span>
          </div>

          <div>
            11:00-11:20
            <span class="text-secondary ml-2">
              Arrival to Vila
              Real/Boarding/Let’s get this party
              started
            </span>
          </div>

          <div>
            11:20-13:00
            <span class="text-secondary ml-2">First boat ride.</span>
          </div>

          <div>
            13:00-13:30
            <span class="text-secondary ml-2">
              Arrival to the
              restaurant/house with the pool, chill.
            </span>
          </div>

          <div>
            13:30-15:00
            <span class="text-secondary ml-2">
              Lunch served.
            </span>
          </div>

          <div>
            15:00-16:00
            <span class="text-secondary ml-2">
              Coffee and chill (it’s a
              new concept, you can already see
              how special the festival is).
            </span>
          </div>

          <div>
            16:00-17:30
            <span class="text-secondary ml-2">
               Surprise concert (if you
                don’t know, now you know...).
            </span>
          </div>

          <div>
            17:30-18:00
            <span class="text-secondary ml-2">
              Board again/Start
              sunset boat ride(I mean we gotta
              follow the trends, right?).
            </span>
          </div>

          <div>
            18:00-20:00
            <span class="text-secondary ml-2">
              Sunset boat ride.
            </span>
          </div>

          <div>
            20:00
            <span class="text-secondary ml-2">
              Arrival to Vila Real, get bus back.
            </span>
          </div>

          <div>
            21:00
            <span class="text-secondary ml-2">
              Arrival to Faro.
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 m-md-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">
          Details
        </h2>
        <div>
          <h3>Boat rides</h3>
          <p>
            There will be 2, one on
            the way to the restaurant house
            where will have lunch.
            Drinks will be included on the price
            for the boat rides.
            There will be beer and wine + a
            small range of cocktails(common I
            told you it’s like Fyre).
            You can see the boat pictures here:
            The boat can take until 160 people,
            but we won’t take more than 140 for
            safety reasons(We actually care)
            .There will be music and more
            surprises(after all is still an Orvalho
            event).
          </p>
        </div>

        <div>
          <h3>Lunch</h3>
          <p>
            It will be served around 1 pm. It will
            include 2 dishes: grilled chicken and
            grilled sardines.
            Now you are thinking, “Oh shit, but I
            thought it was only sandwiches?”,
            any problems talk to the vegans(if
            you have any allergies or special
            food needs, we don’t accommodate
            it, so please don’t write me:
            andre@vice.vc)
            There will be white and red wine
            included and maybe water, but they
            are still deciding on the terms about
            that.
          </p>
        </div>

        <div>
          <h3>Lunch</h3>
          <p>
            It will be served around 1 pm. It will
            include 2 dishes: grilled chicken and
            grilled sardines.
            Now you are thinking, “Oh shit, but I
            thought it was only sandwiches?”,
            any problems talk to the vegans(if
            you have any allergies or special
            food needs, we don’t accommodate
            it, so please don’t write me:
            andre@vice.vc)
            There will be white and red wine
            included and maybe water, but they
            are still deciding on the terms about
            that.
          </p>
        </div>

        <div>
          <h3>Coffee and chill</h3>
          <p>
            Ever heard of netflix and chill? no? can you imagine? (Naughty us).
          </p>
        </div>

        <div>
          <h3>Drinks</h3>
          <p>
            The only time drinks are included is
            during:
            <ul>
              <li>First boat ride.</li>
              <li>Lunch.</li>
              <li>Sunset boat ride.</li>
            </ul>
            Limited to the options available and
            unlimited stock.
            Any drinks different than the
            purposed options or purchased at
            different times are at the customer’s
            expense.
          </p>
        </div>

        <div>
          <h3>Concert</h3>
          <p>
            Well news will come on the news
            feed. keep an eye open.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 m-md-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Get tickets</h2>

        <p>
            For more information regarding tickets you can contact
        </p>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <a class="btn btn-primary btn-lg btn-block" href="mailto:andre@vice.vc">andre@vice.vc</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-md-5 m-md-5"></section>
</div>
