<h1>
  Fuego Fest
</h1>

<p>
  Ticket: #<%= @number %>
</p>

<div class="box">
  <h2>
    Congratulations
  </h2>

  <p>
    Well done, you chose to participate on the best party of the year. We welcome and salute you for being on board with this idea. Also hope you are ready for one of the greatest moments of your life.
  </p>
</div>

<div class="box">
  <h3>
    Timetable
  </h3>

  <p>
    The timetable of the party is shared on the website.
  </p>
  <p>
    <strong>
    It’s important that everybody respects the times to be on and off the bus/boat, otherwise it will be hard to secure the best part possible.
    </strong>
  </p>
  <p>
    Please be aware of the times and don’t be late so everyone can enjoy a great party.
  </p>
</div>

<div class="box">
  <h3>
    What to take
  </h3>

  <p>
    This will be a very hot day. But since we will be on a boat, it can get windy and a little colder. I recommend you to bring 2 outfits: 1. For the house and other moments, bathing suit/bikini + a t-shirt/dress. 2. For the boat and for later hours(a jacket
    + tracksuit pants). PLEASE ALSO BRING SUNSCREEN and cash, the drinks at the house are not included. Besides that the normal beachwear: a towel, hat, sunglasses and all the toys you feel are welcome to party with us.
  </p>
</div>


<div class="box">
  <h3>
    Respect
  </h3>

  <p>
    Remember this is a party from friends to friends. You might not know the person next to you, but be sure they know somebody you do. So please be kind, avoid conflicts, invite everyone to participate in your jokes and allow people to not want to join.
    Drink with responsibility, this will be a full day of partying so take time to rest during the day so you can enjoy the whole event.
  </p>
</div>

<p>
  Any doubts concerning time tables or others please don’t hesitate to contact: <a href="mailto:andre@vice.vc">andre@vice.vc</a> or use my personal phone number: 0045 52689687.
</p>
